<footer>
    <div class="contentup-footer">
   
        <div class="logoFooter"><img src="/img/header-logo.png" alt="logo">
            <h3>Celulares usados como nuevos</h3>
        </div>
        

        <div>
            <ul>
                <h3>¡Creemos en las segundas oportunidades!</h3>
                <br>
                <li>Compra legal.</li>
                <li>Calidad garantizada.</li>
                <li>Los mejores precios del mercado.</li>
            </ul>
        </div>
        <div class =icons>
            
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-reddit"></i>
        </div>
    </div>
    <div class="contentdown-footer">
        <p>Todos los derechos reservados 2nd Chance S.A.S, Colombia 2022</p>
    </div>
</footer>